@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 24, 52, 70;
  --background-start-rgb: 237, 230, 227;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #EDE6E3;
}

::-webkit-scrollbar-thumb {
  background: #5B9279;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ABE7;
}

